/* #upload-button{
} */
.top-bar{
    position: relative;
    padding: 30px;
}

#upload-button{
    top: 7px;
    right: 16px;
    position: fixed;
    background-color: #0099ff;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

#upload-button:hover{
    background-color: #47b5ff
}


#six-gag-logo{
    position: relative;
    font-style: italic;
    color: #0099ff;
    background-color: inherit;

    /* background-image: url('/6gag-logo.png'); */
}