h3{
    color: black;
}

.post{
    position: relative;
    width: 50%;
    height: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 30px;
    border-color: lightblue;
    border-style: solid;
    margin-left: auto;
    margin-top: 5%;
}

.post-image-container{
    margin-left: 40%;

    width: 25%;
    height: 25%;
    color: black;
}
.loading-message{
    color: black;
}

.post-image{
    display: absolute;
    width: 100%;
    height: auto;
}

.post-data{
    display: grid;
    grid-template-columns:auto;
    color:black;
    position: relative;
    left: 0px;
}

.post-data > span {
    text-align: left;
    padding: 20px 0;
    font-size: 20px;
  }

.post-data >div{
    text-align: left;
}

#likes{
    font-weight: bold;
}

#like-button{
    background-color: inherit;
    border: inherit;
    position: relative;
    color: black;
    font-size: 25px;
    font-weight: bold;
    left: 16px;
}


.icon{
    height: 20px;
    width:20px ;
}
